@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header 
{
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
}
.navbar
{
  position: sticky;
  background-color: green;
  padding: 20px 10px;
  top:0;
  z-index: 1000;
}
.navbar a
{
  color: white;
  text-decoration: none;
  margin-left: 40px;
  font-size: 20px;
}
.hero-img img
{
  width: 100%;
  height:100%;
  object-fit:cover;
  filter: brightness(80%);
}
.hero-img
{
  position: relative;
  width:100%;
  height:70vh;
  overflow:hidden;

}
.hero-text
{
  position: absolute;
  inset:0;
  color: white;
  display:flex;
  flex-direction:column;
  gap:10px;
  justify-content:center;
  align-items:center;
  font-weight: bold;
  font-size: 40px;
}
.hero
{
  margin-bottom: 10px;
}
.hero-text button {
  padding: 10px 20px;
  width:150px;
  border: none;
  background: green;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
h2
{
  text-decoration: underline;
  text-underline-position:under;
}
p
{
  margin-bottom: 10px;
}
.title
{
  margin-bottom: 20px;
}
.gallery 
{
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
  gap:20px;
}
.Image
{
  flex: 1 1 200px;
}
.Image img
{
  border-radius: 10px;
}
.text
{
  margin-bottom: 20px;
}
.box
{
  width:100%;
  min-height:420px;
  padding:20px 10px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap:30px;
}
.icons
{
  width: 200px;
  min-height:300px;
  padding:0px 10px;
  background-color: white;
  color: black;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.icons p
{
  color: navy;
  font-size: 12px;
  margin-top: 10px;
}
.icons i
{
  margin-bottom: 10px;
}
.icons:nth-child(odd)
{
  align-self: flex-end;
}
footer
{
  background-color: blue;
  padding: 20px 10px;
  color: white;
  text-align: center;
  font-size: 20px;
  
}